# Take Note Suspension Analysis

By Jesse Howe

This notebook documents an alysis conducted for KCPT's Take Note Suspenson Rate story: Visualizing Kansas City Suspension Rates

The Civil Rights Data Collection (CRDC) 2015 analysis of Elementary Suspension Gaps put Missouri in the spotlight, revealing that the state had the highest suspension rate of black elementary students in the nation at 14 percent and an elementary suspension gap of 12.5 black students suspended for every white student.

This is a follow-up analysis to see if the KC metro has made significant changes in who and how i suspends students.

### Import Python tools

In [275]:
import pandas as pd
import datetime
import numpy as np
%matplotlib inline

### Download source data

Data was precompiled from excel sheets from two sources:

Missouri: https://mcds.dese.mo.gov/quickfacts/sitepages/districtinfo.aspx

Kansas: http://datacentral.ksde.org/report_gen.aspx

In [276]:
susRates = pd.read_csv("data/Suspension-Rates-08-15.csv")

In [277]:
susRates['District'] = susRates['District'].apply(str)

In [279]:
susRates['preAvg'] = susRates[['y2008', 'y2009', 'y2010', 'y2011']].mean(axis=1)

In [280]:
susRates['postAvg'] = susRates[['y2012', 'y2013', 'y2014', 'y2015']].mean(axis=1)

In [281]:
susRates['rateDif'] = susRates['postAvg']-susRates['preAvg']

Finding: Districts that have increased since 2008 have been by less than a percent. Though, three out of those five districts were noted in the CRDC report in 2015

In [283]:
susRates.sort_values("rateDif", ascending=False).head(5)

,District,y2008,y2009,y2010,y2011,y2012,y2013,y2014,y2015,preAvg,postAvg,rateDif
26,Kansas City Unified School District 500,2.4,2.2,2.7,4.88,3.6,3.7,4.2,4.3,3.0450,3.950,0.9050
7,Hickman Mills,3.3,3.1,4.0,3.80,3.5,2.7,7.0,4.4,3.5500,4.400,0.8500
9,KCPS,7.3,6.0,4.1,8.30,6.9,7.4,7.3,7.4,6.4250,7.250,0.8250
29,Turner Unified School District 202,1.2,3.8,4.3,3.41,4.3,3.0,3.7,4.9,3.1775,3.975,0.7975
4,Fort Osage,0.7,1.2,0.8,1.20,2.0,1.6,1.5,1.7,0.9750,1.700,0.7250

Finding: Raytown, Center, and Independence have made more signifcant change of one percent or more

In [284]:
susRates.sort_values("rateDif", ascending=True).head(5)

,District,y2008,y2009,y2010,y2011,y2012,y2013,y2014,y2015,preAvg,postAvg,rateDif
19,Raytown,3.0,2.4,2.9,2.6,0.8,0.7,0.7,0.9,2.725,0.775,-1.950
1,Center,5.9,3.9,5.0,5.0,3.8,3.4,3.0,3.5,4.950,3.425,-1.525
8,Independence,2.3,2.6,2.4,2.6,1.7,1.1,1.6,0.8,2.475,1.300,-1.175
6,Grandview,1.3,1.5,1.2,1.1,1.2,0.4,0.3,0.6,1.275,0.625,-0.650
2,Clinton,2.1,0.0,0.4,0.1,0.0,0.1,0.4,0.0,0.650,0.125,-0.525

In [285]:
susRates['record'] = susRates[['y2008','y2009','y2010','y2011','y2012','y2013','y2014','y2015']].idxmax(axis=1)

For 8 districts 2008 was one of the highest suspeding years, for 7 districts 2015 was the highest suspending year

In [286]:
susRates['record'].value_counts()

y2008    8
y2015    7
y2009    6
y2014    4
y2012    3
y2011    2
y2013    2
y2010    1
Name: record, dtype: int64

In [287]:
max = susRates[['y2008','y2009','y2010','y2011','y2012','y2013','y2014','y2015']].max(axis=1)

In [288]:
min = susRates[['y2008','y2009','y2010','y2011','y2012','y2013','y2014','y2015']].min(axis=1)

In [289]:
susRates['fluctuation'] = max-min

Finding: There have been large fluctuations in many of the districts focused in the CRDC report. Kansas City Public Schools has flucuated by nearly 5 percentage points since 2008. The highest and lowest were back to back: 4.1 percent in 2010 and 8.3 in 2011

In [290]:
susRates.sort_values("fluctuation", ascending=False).head(5)

,District,y2008,y2009,y2010,y2011,y2012,y2013,y2014,y2015,preAvg,postAvg,rateDif,record,fluctuation
24,Bonner Springs Unified School District 204,3.3,1.5,1.6,0.78,0.0,1.0,3.8,4.8,1.7950,2.400,0.6050,y2015,4.8
7,Hickman Mills,3.3,3.1,4.0,3.80,3.5,2.7,7.0,4.4,3.5500,4.400,0.8500,y2014,4.3
9,KCPS,7.3,6.0,4.1,8.30,6.9,7.4,7.3,7.4,6.4250,7.250,0.8250,y2011,4.2
29,Turner Unified School District 202,1.2,3.8,4.3,3.41,4.3,3.0,3.7,4.9,3.1775,3.975,0.7975,y2015,3.7
1,Center,5.9,3.9,5.0,5.00,3.8,3.4,3.0,3.5,4.9500,3.425,-1.5250,y2008,2.9

Finding: Many of the districts in the KC metro region that have kept low suspension rates have also kept consistent suspension rates.

In [291]:
susRates.sort_values("fluctuation", ascending=True).head(5)

,District,y2008,y2009,y2010,y2011,y2012,y2013,y2014,y2015,preAvg,postAvg,rateDif,record,fluctuation
23,Blue Valley Unified School District 229,0.4,0.3,0.2,0.05,0.3,0.1,0.4,0.4,0.2375,0.300,0.0625,y2008,0.35
18,Platte,0.8,0.8,0.6,0.60,0.6,0.7,0.4,0.5,0.7000,0.550,-0.1500,y2008,0.40
27,Shawnee Mission Public Schools Unified School ...,0.7,0.7,0.6,0.85,0.5,0.6,1.0,1.0,0.7125,0.775,0.0625,y2014,0.50
15,North Platte,0.0,0.3,0.5,0.20,0.5,0.5,0.5,0.2,0.2500,0.425,0.1750,y2010,0.50
0,Blue Springs,1.2,1.4,1.1,1.10,1.5,1.5,0.9,1.1,1.2000,1.250,0.0500,y2012,0.60

# Suspension Gap

Data was scraped from the Civil Rights Data Base. That method can be seen here:

https://github.com/JesseCHowe/KansasCity-SuspensionRates/blob/master/2011%20-%20Kansas%20City%20Out%20of%20School%20Suspensions.ipynb

https://github.com/JesseCHowe/KansasCity-SuspensionRates/blob/master/2013%20-%20Kansas%20City%20Out%20of%20School%20Suspensions.ipynb

In [292]:
CRDC11 = pd.read_csv("CRDC_Suspennsions_2011.csv")
CRDC13 = pd.read_csv("CRDC_Suspennsions_2013.csv")

In [295]:
CRDC13['change'] = CRDC13['Suspension_Gap'].round(2) - CRDC11['Suspension_Gap'].round(2)

Remove all districts with less than 50 Black Students

In [297]:
CRDCedit1 = CRDC13[CRDC13['num_Black'] > 50]

In [298]:
CRDCchange = CRDCedit1[['District_Name','change']]

Largest increases between 2011 and 2013

In [300]:
CRDCchange.sort_values("change", ascending=False).head(5)

           District_Name  change
26           RAYTOWN C-2    13.8
6   EXCELSIOR SPRINGS 40     5.6
10         GRANDVIEW C-4     4.3
30    TURNER-KANSAS CITY     2.9
14           KANSAS CITY     2.7

Largest decreases between 2011 and 2013

In [301]:
CRDCchange.sort_values("change", ascending=True).head(5)

              District_Name  change
11        HICKMAN MILLS C-1    -7.1
18               LIBERTY 53    -5.0
13           KANSAS CITY 33    -4.5
7            FORT OSAGE R-I    -4.4
27  SHAWNEE MISSION PUB SCH    -4.2

# Suspensions By Type

Data was collected from the sources used for overall suspension rates. There was an issue with 2011 in Kansas where no data was given, or if given wildly lower than the years before or after. It is ignored in this analysis.

Suspensions are categorized by: Alcohol, Drug, Violent Act, and Weapon

Missouri also includes Tobacco and Other

In [342]:
alcohol = pd.read_csv("data/Suspension-Data-Alcohol.csv")
drug = pd.read_csv("data/Suspension-Data-Drug.csv")
other = pd.read_csv("data/Suspension-Data-Other.csv")
tobacco = pd.read_csv("data/Suspension-Data-Tobacco.csv")
violent = pd.read_csv("data/Suspension-Data-ViolentAct.csv")
weapon = pd.read_csv("data/Suspension-Data-Weapon.csv")

In [356]:
allTypes = alcohol.sum(axis=1)+drug.sum(axis=1)+weapon.sum(axis=1)+other.sum(axis=1)+tobacco.sum(axis=1)

In [357]:
typeTotal = test.sum()

In [358]:
violentTotal = violent.sum(axis=1).sum()

Finding: violent offenses have made up 34 percent of all out of school suspensions since 2008

In [359]:
violentTotal/typeTotal

0.34358384255217839

Finding: non violent suspension are decreasing

In [364]:
alcohol.sum()+drug.sum()+weapon.sum()+other.sum()+tobacco.sum()

State       MOMOMOMOMOMOMOMOMOMOMOMOMOMOMOMOMOMOMOMOMOMOKS...
District    Blue SpringsCenterClintonExcelsior SpringsFort...
2008                                                     4047
2009                                                     3362
2010                                                     2982
2011                                                     3236
2012                                                     2962
2013                                                     2783
2014                                                     2914
2015                                                     2916
dtype: object

Finding: Violent suspensions are increasing

In [362]:
violent.sum()

State       MOMOMOMOMOMOMOMOMOMOMOMOMOMOMOMOMOMOMOMOMOMOKS...
District    Blue SpringsCenterClintonExcelsior SpringsFort...
2008                                                      878
2009                                                      838
2010                                                      853
2011                                                      648
2012                                                     1192
2013                                                     1137
2014                                                     1491
2015                                                     1622
dtype: object

Finding: violent suspensions went from making up nearly 22 percent of OSS to 56 percent of OSS

In [379]:
print("2008:",(878/4047))
print("2009:",838/3362)
print("2010:",853/2982)
print("2011:",648/3236)
print("2012:",1192/2962)
print("2013:",1137/2783)
print("2014:",1491/2914)
print("2015:",1622/2916)

2008: 0.2169508277736595
2009: 0.24925639500297442
2010: 0.28604963112005366
2011: 0.20024721878862795
2012: 0.4024307900067522
2013: 0.4085519223859145
2014: 0.5116678105696637
2015: 0.556241426611797